<nz-row>
  <div nz-col nzXs="24" nzSm="24" nzMd="16">
    <div class="center min-screen-full-height">
      <form
        nz-form
        [formGroup]="resetForm"
        class="reset-form"
        (ngSubmit)="submitForm()"
      >
        <h1 class="sp-28 center m-b-30" nz-typography>Hotel Reservation System</h1>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your email address!">
            <nz-input-group>
              <input
                type="text"
                nz-input
                formControlName="email"
                [(ngModel)]="emailValue"
                placeholder="Email"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <button
          nz-button
          class="reset-form-button reset-form-margin"
          [nzType]="'primary'"
          [nzLoading]="isResetFormSubmitted"
          (click)="resetPasswordFormSubmit()"
          [routerLink]="['/reset-password-detail']"
        >
          Send Email
        </button>
      </form>
    </div>
  </div>
</nz-row>
