<nz-card
  [nzBordered]="false"
  nzTitle="{{ 'RoleList' | localize }}"
  [nzExtra]="actionTemplate"
>
  <form nz-form nzLayout="vertical">
    <nz-space>
      <nz-form-item *nzSpaceItem>
        <nz-form-label>{{ "Name" | localize }}</nz-form-label>
        <nz-form-control>
          <nz-input-group [nzSuffix]="suffixIconSearch">
            <input
              type="text"
              nz-input
              placeholder="{{ 'EnterName' | localize }}"
              (change)="searchValue($event)"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </nz-space>
  </form>
  <nz-table
    nzShowSizeChanger
    [nzFrontPagination]="false"
    [nzData]="roles"
    [nzTotal]="totalItems"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageNumber"
    (nzQueryParams)="onQueryParamsChange($event)"
    [nzFooter]="tableFooterTemplate"
    [nzLoading]="isTableLoading"
  >
    <thead>
      <tr>
        <th>{{ "SerialNumber" | localize }}</th>
        <th>{{ "Name" | localize }}</th>
        <th>{{ "DisplayName" | localize }}</th>
        <th>{{ "Actions" | localize }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let role of roles">
        <td>{{ role.id }}</td>
        <td>{{ role.name }}</td>
        <td>{{ role.displayName }}</td>

        <td>
          <nz-space>
              <button
                *nzSpaceItem
                nzSize="small"
                nzTooltipTitle="{{ 'Edit' | localize }}"
                nzTooltipPlacement="top"
                nz-tooltip
                nz-button
                (click)="editRole(role)"
                nzType="primary"
              >
                <i nz-icon nzType="edit" nzTheme="outline"></i>
              </button>
              <button
                *nzSpaceItem
                nzSize="small"
                nzTooltipTitle="{{ 'Delete' | localize }}"
                nzTooltipPlacement="top"
                nz-tooltip
                nzDanger
                nz-button
                nzType="primary"
                (click)="showConfirm(role.id)"
              >
                <i nz-icon nzType="delete" nzTheme="outline"></i>
              </button>
          </nz-space>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>

<ng-template #actionTemplate>
  <nz-space>
    <button *nzSpaceItem nz-button nzType="primary" (click)="refreshPage()">
      <i nz-icon nzType="reload"></i>
      {{ "Refresh" | localize }}
    </button>
      <button *nzSpaceItem nz-button nzType="primary" (click)="openDrawer()">
        <i nz-icon nzType="plus"></i>
        {{ "CreateNewRole" | localize }}
      </button>
  </nz-space>
</ng-template>

<nz-drawer
  [nzClosable]="false"
  [nzVisible]="isDrawerVisible"
  nzPlacement="right"
  nzTitle="{{ 'CreateNewRole' | localize }}"
  (nzOnClose)="closeDrawer()"
>
  <ng-container *nzDrawerContent>
    <form
      nz-form
      nzLayout="vertical"
      [formGroup]="roleForm"
      (ngSubmit)="roleFormSubmit()"
    >
      <nz-form-item>
        <nz-form-label nzRequired>{{ "DisplayName" | localize }}</nz-form-label>
        <nz-form-control
          nzErrorTip="Please Enter {{ 'DisplayName' | localize }}"
        >
          <input
            nz-input
            formControlName="displayName"
            placeholder="{{ 'DisplayName' | localize }}"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired>{{ "Name" | localize }}</nz-form-label>
        <nz-form-control nzErrorTip="Please Enter {{ 'Name' | localize }}">
          <input
            nz-input
            formControlName="name"
            placeholder="{{ 'Name' | localize }}"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary" [nzLoading]="isRoleFormSaving">
            {{ "Save" | localize }}
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-drawer>

<ng-template class="text-left" #tableFooterTemplate>
  {{ "TotalRecordsCount" | localize : totalItems }}
</ng-template>
