<nz-row>
  <div nz-col nzXs="24" nzSm="24" nzMd="16">
    <div class="center min-screen-full-height">
      <form
        nz-form
        nzLayout="vertical"
        class="login-form"
        [formGroup]="updatePasswordForm"
        (ngSubmit)="submitUpdatePasswordForm()"
      >
        <h1 class="sp-28 center m-b-30" nz-typography>UPDATE PASSWORD</h1>

        <nz-form-item>
          <nz-form-label nzRequired nzFor="newPassword"
            >NewPassword</nz-form-label
          >
          <nz-form-control nzErrorTip="NewPasswordRequired">
            <nz-input-group [nzSuffix]="newPasswordTemplate">
              <input
                nz-input
                [type]="newPasswordVisible ? 'text' : 'password'"
                id="newPassword"
                formControlName="newPassword"
                placeholder="NewPassword"
                (ngModelChange)="updateConfirmValidator()"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzRequired nzFor="confirmPassword"
            >ConfirmPassword</nz-form-label
          >
          <nz-form-control [nzErrorTip]="errorTpl">
            <nz-input-group [nzSuffix]="confirmPasswordTemplate">
              <input
                nz-input
                [type]="confirmPasswordVisible ? 'text' : 'password'"
                [(ngModel)]="confirmPassword"
                formControlName="confirmPassword"
                id="confirmPassword"
                placeholder="ConfirmPassword"
              />
              <ng-template #errorTpl let-control>
                <ng-container *ngIf="control.hasError('required')"
                  >Please confirm your password!
                </ng-container>
                <ng-container *ngIf="control.hasError('confirm')">
                  Two passwords that you enter is inconsistent!
                </ng-container>
              </ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <div nz-row>
          <div nz-col nzSpan="4">
            <button
              nz-button
              nzType="primary"
              class="buttonCss"
              [nzLoading]="isUpdatePasswordFormSaving"
            >
              Save
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</nz-row>

<ng-template #currentPasswordTemplate>
  <i
    nz-icon
    [nzType]="currentPasswordVisible ? 'eye-invisible' : 'eye'"
    (click)="currentPasswordVisible = !currentPasswordVisible"
  ></i>
</ng-template>

<ng-template #newPasswordTemplate>
  <i
    nz-icon
    [nzType]="newPasswordVisible ? 'eye-invisible' : 'eye'"
    (click)="newPasswordVisible = !newPasswordVisible"
  ></i>
</ng-template>

<ng-template #confirmPasswordTemplate>
  <i
    nz-icon
    [nzType]="confirmPasswordVisible ? 'eye-invisible' : 'eye'"
    (click)="confirmPasswordVisible = !confirmPasswordVisible"
  ></i>
</ng-template>
