<!-- <app-page-header [pageHeaderInfo]="pageHeaderInfo"></app-page-header> -->
<nz-card
  nzTitle="{{ 'CustomerRequest' | localize }}"
  [nzExtra]="extraTemplate"
>
  <form nz-form nzLayout="vertical">
    <nz-space>
      <nz-form-item *nzSpaceItem>
        <nz-form-label>{{ "RoomName" | localize }}</nz-form-label>
        <nz-form-control>
          <nz-input-group [nzSuffix]="suffixIconSearch">
            <input
              type="text"
              (change)="searchValue($event)"
              nz-input
              placeholder="{{ 'Name' | localize }}"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </nz-space>
  </form>

  <ng-template #suffixIconSearch>
    <span nz-icon nzType="search"></span>
  </ng-template>

  <nz-table
    class="m-t-20"
    #borderedTable
    nzBordered
    nzShowSizeChanger
    [nzFrontPagination]="false"
    [nzData]="customerRequests"
    [nzTotal]="totalItems"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageNumber"
    (nzQueryParams)="onQueryParamsChange($event)"
    [nzFooter]="tableFooterTemplate"
    [nzLoading]="isTableLoading"
  >
    <thead>
      <tr>
        <th>{{ "SerialNumber" | localize }}</th>
        <th>{{ "RoomName" | localize }}</th>
        <th>{{ "RoomNumber" | localize }}</th>
        <th>{{ "CategoryName" | localize }}</th>
        <th>{{ "Price" | localize }}</th>
        <th>{{ "Actions" | localize }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customerRequest of customerRequests">
        <td>{{ customerRequest.id }}</td>
        <td>{{ customerRequest.roomName }}</td>
        <td>{{ customerRequest.roomNumber }}</td>
        <td>{{ customerRequest.categoryName }}</td>
        <td>{{ customerRequest.price }}</td>
        <td>
          <nz-space>
              <button
                *nzSpaceItem
                nzSize="small"
                nzTooltipTitle="{{ 'Accept' | localize }}"
                nzTooltipPlacement="top"
                nz-tooltip
                nz-button
                nzType="primary"
                (click)="showModal()"
              >
                Accept</button
            >
              <button
                *nzSpaceItem
                nzSize="small"
                nzTooltipTitle="{{ 'Decline' | localize }}"
                nzTooltipPlacement="top"
                nz-tooltip
                nzDanger
                nz-button
                nzType="primary"
              >
                Decline</button
            >
          </nz-space>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>

<ng-template #extraTemplate>
  <nz-space>
    <button *nzSpaceItem nz-button nzType="primary" (click)="refreshPage()">
      <i nz-icon nzType="reload"></i>
      {{ "Refresh" | localize }}
    </button>
  </nz-space>
</ng-template>

<ng-template class="text-left" #tableFooterTemplate>
  {{ "TotalRecordsCount" | localize : totalItems }}
</ng-template>


<nz-modal [(nzVisible)]="isVisible" nzTitle="The first Modal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <p>Do you want to Accept the Request ?</p>
  </ng-container>
</nz-modal>
