<!-- <app-page-header [pageHeaderInfo]="pageHeaderInfo"></app-page-header> -->
<nz-card
  nzTitle="{{ 'Room' | localize }}"
  [nzExtra]="extraTemplate"
>
  <form nz-form nzLayout="vertical">
    <nz-space>
      <nz-form-item *nzSpaceItem>
        <nz-form-label>{{ "Room Name" | localize }}</nz-form-label>
        <nz-form-control>
          <nz-input-group [nzSuffix]="suffixIconSearch">
            <input
              type="text"
              (change)="searchValue($event)"
              nz-input
              placeholder="{{ 'Room Name' | localize }}"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </nz-space>
  </form>

  <ng-template #suffixIconSearch>
    <span nz-icon nzType="search"></span>
  </ng-template>

  <nz-table
    class="m-t-20"
    #borderedTable
    nzBordered
    nzShowSizeChanger
    [nzFrontPagination]="false"
    [nzData]="rooms"
    [nzTotal]="totalItems"
    [nzPageSize]="pageSize"
    [nzPageIndex]="pageNumber"
    (nzQueryParams)="onQueryParamsChange($event)"
    [nzFooter]="tableFooterTemplate"
    [nzLoading]="isTableLoading"
  >
    <thead>
      <tr>
        <th>{{ "SerialNumber" | localize }}</th>
        <th>{{ "Image" | localize }}</th>
        <th>{{ "Room Number" | localize }}</th>
        <th>{{ "Room Name" | localize }}</th>
        <th>{{ "RoomCategoryName" | localize }}</th>
        <th>{{ "Price" | localize }}</th>
        <th>{{ "Actions" | localize }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let room of rooms">
        <td>{{ room.id }}</td>
        <td>
          <img
            nz-image
            class="image"
            nzSrc="{{ room.image }}"
            [nzFallback]="fallback"
            alt=""
          /></td>
        <td>{{ room.roomNumber }}</td>
        <td>{{ room.roomName }}</td>
        <td>{{ room.categoryName }}</td>
        <td>{{ room.price }}</td>
        <td>
          <nz-space>
              <button
                *nzSpaceItem
                nzSize="small"
                nzTooltipTitle="{{ 'Edit' | localize }}"
                nzTooltipPlacement="top"
                nz-tooltip
                nz-button
                (click)="editRoom(room)"
                nzType="primary"
              >
                <i nz-icon nzType="edit" nzTheme="outline"></i></button
            >
              <button
                *nzSpaceItem
                nzSize="small"
                nzTooltipTitle="{{ 'Delete' | localize }}"
                nzTooltipPlacement="top"
                nz-tooltip
                nzDanger
                nz-button
                nzType="primary"
                (click)="showConfirm(room.id)"
              >
                <i nz-icon nzType="delete" nzTheme="outline"></i></button
            >
          </nz-space>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>

<ng-template #extraTemplate>
  <nz-space>
    <button *nzSpaceItem nz-button nzType="primary" (click)="refreshPage()">
      <i nz-icon nzType="reload"></i>
      {{ "Refresh" | localize }}
    </button>
      <button *nzSpaceItem nz-button nzType="primary" (click)="openDrawer()">
        <i nz-icon nzType="plus"></i>
        {{ "CreateRoom" | localize }}
      </button>
  </nz-space>
</ng-template>

<nz-drawer
  [nzClosable]="false"
  [nzVisible]="isDrawerVisible"
  nzPlacement="right"
  nzTitle="{{ 'CreateRoom' | localize }}"
  (nzOnClose)="closeDrawer()"
>
  <ng-container *nzDrawerContent>
    <form
      nz-form
      nzLayout="vertical"
      [formGroup]="roomForm"
      (ngSubmit)="roomFormSubmit()"
    >
    <nz-form-item>
      <nz-form-label nzRequired>{{ "RoomName" | localize }}</nz-form-label>
      <nz-form-control nzErrorTip="{{ 'RoomName' | localize }}">
        <input
          nz-input
          formControlName="roomName"
          placeholder="{{ 'RoomName' | localize }}"
        />
      </nz-form-control>
    </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired>{{ "RoomNumber" | localize }}</nz-form-label>
        <nz-form-control nzErrorTip="{{ 'RoomNumber' | localize }}">
          <input
          type="number"
            nz-input
            formControlName="roomNumber"
            placeholder="{{ 'RoomNumber' | localize }}"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired>{{ "CategoryName" | localize }}</nz-form-label>
        <nz-form-control nzErrorTip="{{ 'CategoryName' | localize }}">
          <input
            nz-input
            formControlName="categoryName"
            placeholder="{{ 'CategoryName' | localize }}"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired>{{ "Price" | localize }}</nz-form-label>
        <nz-form-control nzErrorTip="{{ 'Price' | localize }}">
          <input
            nz-input
            type="number"
            formControlName="price"
            placeholder="{{ 'Price' | localize }}"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>{{ "Image" | localize }}</nz-form-label>
        <nz-form-control nzErrorTip="{{ 'PleaseUploadImage' | localize }}">
          <nz-upload
            nzAction="https://localhost:44311/api/FileUploader/UploadImage"
            [nzBeforeUpload]="beforeUpload"
            nzListType="picture-card"
            [(nzFileList)]="fileList"
            [nzShowButton]="fileList.length < 1"
            [nzPreview]="handlePreview"
            (nzChange)="getFileUrl($event)"
            [nzRemove]="handleRemove"
          >
            <div>
              <span nz-icon nzType="plus"></span>
              <div style="margin-top: 8px">{{ "Upload" | localize }}</div>
            </div>
          </nz-upload>
          <nz-modal
            [nzVisible]="previewVisible"
            [nzContent]="modalContent"
            [nzFooter]="null"
            (nzOnCancel)="previewVisible = false"
          >
            <ng-template #modalContent>
              <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
            </ng-template>
          </nz-modal>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary" [nzLoading]="isRoomFormSaving">
            {{ "Save" | localize }}
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-drawer>

<ng-template class="text-left" #tableFooterTemplate>
  {{ "TotalRecordsCount" | localize : totalItems }}
</ng-template>
