<!-- <app-page-header [pageHeaderInfo]="pageHeaderInfo"></app-page-header> -->

<nz-card class="m-t-30" nzTitle="{{ 'ChangePassword' | localize }}">
  <form
    nz-form
    nzLayout="vertical"
    [formGroup]="validateForm"
    (ngSubmit)="submitForm()"
  >
    <div nz-row>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" nzOffset="1">
        <nz-form-item>
          <nz-form-label
            nzXs="24"
            nzSm="24"
            nzMd="8"
            nzRequired
            nzFor="currentPassword"
            >{{ "CurrentPassword" | localize }}</nz-form-label
          >
          <nz-form-control
            nzXs="24"
            nzSm="24"
            nzMd="16"
            nzErrorTip="{{ 'CurrentPasswordIsRequired' | localize }}"
          >
            <nz-input-group [nzSuffix]="currentPasswordTemplate">
              <input
                nz-input
                [type]="currentPasswordVisible ? 'text' : 'password'"
                [(ngModel)]="currentPassword"
                formControlName="currentPassword"
                id="currentPassword"
                placeholder="{{ 'CurrentPassword' | localize }}"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label
            nzXs="24"
            nzSm="24"
            nzMd="8"
            nzRequired
            nzFor="newPassword"
            >{{ "NewPassword" | localize }}</nz-form-label
          >
          <nz-form-control
            nzXs="24"
            nzSm="24"
            nzMd="16"
            nzErrorTip="{{ 'NewPasswordRequired' | localize }}"
          >
            <nz-input-group [nzSuffix]="newPasswordTemplate">
              <input
                nz-input
                [type]="newPasswordVisible ? 'text' : 'password'"
                [(ngModel)]="newPassword"
                id="newPassword"
                formControlName="newPassword"
                placeholder="{{ 'NewPassword' | localize }}"
                (ngModelChange)="updateConfirmValidator()"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label
            nzXs="24"
            nzSm="24"
            nzMd="8"
            nzRequired
            nzFor="confirmPassword"
            >{{ "ConfirmPassword" | localize }}</nz-form-label
          >
          <nz-form-control
            nzXs="24"
            nzSm="24"
            nzMd="16"
            [nzErrorTip]="errorTpl"
          >
            <nz-input-group [nzSuffix]="confirmPasswordTemplate">
              <input
                nz-input
                [type]="confirmPasswordVisible ? 'text' : 'password'"
                [(ngModel)]="confirmPassword"
                formControlName="confirmPassword"
                id="confirmPassword"
                placeholder="{{ 'ConfirmPassword' | localize }}"
              />
              <ng-template #errorTpl let-control>
                <ng-container *ngIf="control.hasError('required')"
                  >Please confirm your password!
                </ng-container>
                <ng-container *ngIf="control.hasError('confirm')">
                  Two passwords that you enter is inconsistent!
                </ng-container>
              </ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row style="margin-left: 43px">
      <div nz-col nzSpan="4">
        <button
          nz-button
          nzType="primary"
          [nzLoading]="isChangePasswordFormSaving"
        >
          {{ "Save" | localize }}
        </button>
      </div>
    </div>
  </form>
</nz-card>

<ng-template #currentPasswordTemplate>
  <i
    nz-icon
    [nzType]="currentPasswordVisible ? 'eye-invisible' : 'eye'"
    (click)="currentPasswordVisible = !currentPasswordVisible"
  ></i>
</ng-template>

<ng-template #newPasswordTemplate>
  <i
    nz-icon
    [nzType]="newPasswordVisible ? 'eye-invisible' : 'eye'"
    (click)="newPasswordVisible = !newPasswordVisible"
  ></i>
</ng-template>

<ng-template #confirmPasswordTemplate>
  <i
    nz-icon
    [nzType]="confirmPasswordVisible ? 'eye-invisible' : 'eye'"
    (click)="confirmPasswordVisible = !confirmPasswordVisible"
  ></i>
</ng-template>
